input {
    background-color: #B2BDFB;
    color: #FFF;
    text-align: center;
    height: 5vh;
    width: 15vh;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 20px;
}
