button {
    background-color: #1F53E5;
    border: none;
    color: #FFF;
    width: 7rem;
    height: 2.700rem;
    margin-top: 10px;
    font-size: 28px;
    border-radius: 7px 15px 7px 15px;
    cursor: pointer;
}