.App {  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  background-color: #152266;
  width: 30.5rem;
  height: 15.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .input {
  display: flex;
  flex-direction: row;
}


